@media (min-width: 900px) {
    ::-webkit-scrollbar {
        width: 8px;
        background-color: #44444400;
        height: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background-color: #44444400;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background-color: #44444440;
        border-radius: 100px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background-color: #44444460;
    }
}
